body {
  background: #fff;
}

.container-home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.container-profile {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
}

.profile .img-profile {
  margin: 2rem;
  display: flex;
  flex-direction: row;
}

.profile .img-profile .info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem;
}

.profile .img-profile img {
  width: 50%;
  height: 100%;
  border-radius: 5px;
}

.profile .img-profile .info button {
  width: 8rem;
  height: 2rem;
  outline: none;
  background-color: #FD5956;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.8s;
}
.busca {
  display: flex;
  flex-direction: row;
}
.busca input {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.busca button {
  height: 30px;
  outline: none;
  background-color: #FD5956;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin: 2px;
  cursor: pointer;
}