@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.form form .button-content a:hover {
  background-color: #FC824A;
}

.form form .button-content a {
  text-decoration: none;
  width: 8rem;
  height: 2rem;
  outline: none;
  background-color: #FD5956;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form form .button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.form form input {
  outline: none;
  border: none;
  background: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  font-size: 1.2rem;
  width: 80%;
  text-align: center;
}

.form form label {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 8px;
  width: 100%;
}

.form form {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.form form span {
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
}

.form form {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 gold, 0 0 1em rgba(0, 0, 0, 0.0);
  width: 80%;
  height: auto;
  border-radius: 5px;
}

.form {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5px;
}

@media (min-width: 880px) {
  .form {
    width: 48vw;
  }
}